/* Text Formatting */
body{
    background-color: #eeeee4;
    font-family: 'Poppins', sans-serif;
}

h1{
    color: #36454F;
    font-family: 'Poppins', sans-serif;
}

h2{
    color: #36454F;
    font-family: 'Poppins', sans-serif;
}

h3{
    color: #36454F;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color:#36454F;
    text-decoration-style: round;
}

p{
    background-image: linear-gradient(to bottom right, #EEDC9A, #FDB515);
    background-image: linear-gradient(to bottom right, #003262, #FDB515);
    color:#36454F;
    font-weight: normal;
    padding: 1em;
    border-style: solid;
    border-radius: 10px;
    border-color: #2029C2;
}

/* Javascript formatting*/
